#sidebar nav a {
      text-align: left;
      padding-left: 10% !important;

}

#sidebar{
      position: initial;
      width: 20em;
      box-shadow: 1px 0 30px rgba(0, 0, 0, 0.61);
}

#sidebar > .inner {
  min-height:0;
}

a:focus {
    color: white !important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

span.icon.fa-gear {
    font-size: 1.5rem;
    height: 0px;
    bottom: 22px;
    right: 10px;
}

#sidebar nav a {
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 10% !important;
}

input[type="text"]:focus {
    border-color: transparent;
    box-shadow: none;
}

input[type="text"] {
    border-color: transparent;
    box-shadow: none;
}

#tabs li {
  padding: 1rem !important;
box-shadow: -20px 0 15px rgba(0, 0, 0, 0.09);
width: 100%;
display: flex;
justify-content: center;
padding: 0;
}

#tabs a {
    width: 100%;
    text-align: center;
    border-bottom: none;
}

#tabs ul {
    padding: 0rem;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#tabs nav {
    background: #2d2246;
}

#tabs {
    width: 100%;
    display:none;
}

div#ui {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}

div#wrapper {
    background: rgba(255, 255, 255, 0.84);
    z-index: -1;
    position: absolute;
    left: 17em;
    width: 80%;
    display:none;
}

section#messager {
  padding: 2rem 2rem;
  background: #242040;
  z-index: 9999;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 85%;
  left: 16.9em;
  height: 100%;
  width: 65em;
  border-radius: 0 10px 0 0;
}

input[type="textarea"] {
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

#sidebar nav > ul {
    list-style: none;
    max-height: 80%;
    overflow-y: auto;
    padding: 0;
}

div#channel {
    padding: 10% 2rem 10rem 2rem;
    width: 100%;
    min-height: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

#channel ul {
    list-style: none;
    color: #332a54;
}

#channel li .username {
    font-size: 1.4rem;
}

ul li {
    border-top: solid 1px rgba(49, 36, 80, 0.2);
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-left: 0.5em;
}

span.usermessage {
    padding-left: 1rem;
}

div#createBox {
    padding: 1rem;
    z-index: 10001;
    position: absolute;
    width: 40em;
    left: 20em;
    top: 5em;
    display:none;
    background: #2d2246;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.32);
}

div#eventBox {
    padding: 1rem;
    z-index: 10001;
    position: absolute;
    width: 40em;
    left: 20em;
    top: 5em;
    display:none;
    transition: opacity .2s ease-in-out;
    background: #2d2246;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.32);
}

#createBox input {
    margin: 0 0 1rem 0;
}

#eventBox input {
    margin: 0 0 1rem 0;
}

div#screen {
    display:none;
    position: absolute;
    z-index: 10000;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#searchBox input {
    margin: 0 0 1rem 0;
}

div#searchBox {
    padding: 1rem;
    z-index: 10001;
    position: absolute;
    width: 40em;
    left: 20em;
    top: 5em;
    display: none;
    background: #2d2246;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.32);
}

.search {
    display: flex;
    justify-content: center;
}

#createBox h1 {
    font-size: 1.4rem;
    padding: 5px 0 0 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

#searchBox h1 {
    font-size: 1.4rem;
    padding: 5px 0 0 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

#eventBox h1 {
    font-size: 1.4rem;
    padding: 5px 0 0 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}
