<!DOCTYPE HTML>
{{define "app"}}
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>HackBoard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
    <div id="ui">

    <section id="sidebar">
				<div class="inner">
					<nav>
            <a href="#create" onclick="newGroupPrompt()"><span class="icon fa-gear"></span>Create Group</a>
						<ul id="innerSidebar">
							<!-- <li><a href="#">Group 1</a></li>
							<li><a href="#">Group 2</a></li>
							<li><a href="#">Group 3</a></li>
							<li><a href="#">Group 1</a></li>
							<li><a href="#">Group 2</a></li>
							<li><a href="#">Group 3</a></li>
							<li><a href="#">Group 1</a></li>
							<li><a href="#">Group 2</a></li>
							<li><a href="#">Group 3</a></li>
							<li><a href="#">Group 1</a></li>
							<li><a href="#">Group 2</a></li>
							<li><a href="#">Group 3</a></li> -->
						</ul>
					</nav>
				</div>
        <div class="search">
			<button onclick="searchFade()">Search</button>
        </div>
			</section>

      <div id="createBox">
        <input id="create1" type="text" placeholder="Group name">
        <input id="create2" type="text" placeholder="University">
        <input id="create3" type="text" placeholder="Field of Study">
        <input id="create4" type="text" placeholder="Subject">
        <input id="create5" type="text" placeholder="Description">
        <button onclick="submitGroupPrompt()">Create Group</button>
        <button onclick="newGroupPrompt()">Cancel</button>
      </div>

      <div id="searchBox">
        Fill out at least one field.
        <input id="search1" type="text" placeholder="University">
        <input id="search2" type="text" placeholder="Field of Study">
        <input id="search3" type="text" placeholder="Subject">
        <button onclick="searchTrigger()">Search</button>
        <button onclick="searchFade()">Cancel</button>
      </div>

      <div id="eventBox">
        <input id="eventTitle" type="text" placeholder="Title">
        <input id="event1" type="text" placeholder="Description">
        <input id="event2" type="text" placeholder="When...">
        <input id="event3" type="text" placeholder="Where...">
        <button onclick="submitEventPrompt()">Create Event</button>
        <button onclick="eventFadeOut()">Cancel</button>
      </div>

      <div id="screen">
      </div>

      <section id="tabs">
        <div class="inner" id="postDiv">
					<nav>
						<ul>
							<li onclick='openDiscussionTrigger()'><a href="#tab1">Open Discussion</a></li>
							<!-- <li onclick='threadsTrigger()'><a href="#tab2">Threads</a></li> -->
							<li onclick='eventsTrigger()'><a href="#tab3">Events</a></li>
							<li onclick='infoTrigger()'><a href="#tab4">Info</a></li>
						</ul>
					</nav>
				</div>
      </section>

      <section id="messager">
        <div class="inner">
					<input type="text" onkeypress="return submitTrigger(event)" id="submissionArea" placeholder="Hello World!..."></input>
				</div>
      </section>

    </div>
    <div id="wrapper">
      <div id="channel">
        <ul id="postList">
		<!--
          <li>
            <span class="username">Bot: </span>
            <span class="usermessage">Welcome to Open Discussion!</span>
          </li>
          <li>
            <span class="username">Erich: </span>
            <span class="usermessage">Hello!</span>
            <span class="usermessage">How is everyone?!</span>
          </li>
          <li>
            <span class="username">Joe: </span>
            <span class="usermessage">Hello world!</span>
            <span class="usermessage">I'm doing fine!</span>
          </li>
          <li>
            <span class="username">Kenneth: </span>
            <span class="usermessage">Lorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsumLorem ipermovmekblenmrbnerobnerbnerkljbnerlbkneklrbnsum</span>
            <span class="usermessage">Lorem ipsum</span>
            <span class="usermessage">Lorem ipsum</span>
            <span class="usermessage">Lorem ipsum</span>
            <span class="usermessage">Lorem ipsum</span>
          </li>
          <li>
            <span class="username">Erich: </span>
            <span class="usermessage">Wow!</span>
          </li>
		  -->
        </ul>
      </div>
    </div>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/app.js"></script>
  </body>
</html>
{{end}}
