<!DOCTYPE HTML>
{{define "app"}}
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>HackBoard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
    <div id="ui">

    <section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#create"><span class="icon fa-gear"></span>Create Group</a></li>
							<li><a href="#">Group 1</a></li>
							<li><a href="#">Group 2</a></li>
							<li><a href="#">Group 3</a></li>
						</ul>
					</nav>
				</div>
        <div class="search">
          <input type="text" name="search" placeholder="Search..">
        </div>
			</section>

      <section id="tabs">
        <div class="inner">
					<nav>
						<ul>
							<li><a href="#tab1">Open Discussion</a></li>
							<li><a href="#tab2">Threads</a></li>
							<li><a href="#tab3">Events</a></li>
							<li><a href="#tab4">Info</a></li>
						</ul>
					</nav>
				</div>
      </section>

      <section id="messager">
        <div class="inner">
					<textarea rows="1" cols="50">Hello World!...</textarea>
				</div>
      </section>

    </div>
    <div id="wrapper">



    </div>
  </body>
</html>
{{end}}
